{% extends 'home/home_base.html' %}
{% block custom_head_tags %}
{{ super() }}
<style>
    #content {
        background: #fff
    }

    .mario {
        width: 33%;
        background: #fff;
        box-shadow: 0 2px 8px 0 rgba(5, 7, 15, .1);
        padding: 2rem 2rem;
    }

    .bh {
        border-left: 1px solid #000;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 25%;
    }

    .contact-item .contact-title i {
        font-size: 52px;
        vertical-align: 4px;
    }

    .contact-desc {
        display: block;
        padding-top: 10px;
    }

    [class*="btn"].btn-style-3 {
        background: #ed1c24 !important;
    }
</style>
{% endblock %}
{% block content %}
<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

<div id="content">

    <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

    <div class="breadcrumbs-wrap" data-bg="{{ url_for('static', filename='home/images/1920x200_img1.jpg') }}">

        <div class="container">

            <h1 class="page-title">Contact Us</h1>

            <ul class="breadcrumbs">

                <li><a href="{{ url_for('home.index') }}">Home</a></li>
                <li>Contact Us</li>

            </ul>

        </div>

    </div>

    <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->


    <div class="page-section" data-bg="">

        <div class="container">
            <div class="mario">
                <h4 class="section-title mt-1">How can we help</h4>

                <div class="row">

                    <div class="col-md-12 col-sm-12">
                        {% for field in form.errors %}
                        {% for error in form.errors[field] %}
                        <div class="alert alert-error">
                            <strong>Error!</strong> {{error}}:{{field}}
                        </div>
                        {% endfor %}
                        {% endfor %}
                        <form class="contact-form style-2" method="post" action="">
                            {{ form.hidden_tag() }}

                            <div class="row">
                                <div class="col-sm-12">

                                    <label class="required">Your Name</label>
                                    {{ form.name(class='') }}
                                </div>
                                <div class="col-sm-12">
                                    <label class="required">Your email</label>
                                    {{ form.email(class='') }}

                                </div>
                                <div class="col-sm-12">

                                    <label class="required">Phone number</label>
                                    {{ form.phone_number(class='') }}
                                </div>
                                <div class="col-sm-12">
                                    <label class="required">Subject</label>
                                    {{ form.subject(class='') }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Message</label>
                                    {{ form.message(class='', rows=5) }}


                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">

                                    {{ form.submit(class="btn btn-style-3") }}

                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
        </div>
        

    </div>

    <div class="page-section">
        <div class="container">
            <div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="content-element7">

                            <div class="tabs tabs-section clearfix">

                                <!--tabs content-->
                                <div class="">
                                    <div id="tab-1">

                                        <div class="contact-section">
                                            <div class="col-md-4">
                                                <div class="contact-item">
                                                    <h4>Get In Touch</h4>
                                                </div>
                                            </div>
                                            <div class="col-md-1">
                                                <div class="contact-item bh">
                                                    <h6 class="contact-title"><i class="licon-map-marker"></i></h6>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <span class="contact-desc">
                                                    Head Office: Hurlingham between Chaka Place and Nairobi Women's
                                                    Hospital,
                                                    Argwings Kodhek Road, Nairobi, Kenya</span>
                                                <span class="contact-desc">
                                                    Thika Road, Thika Road Mall (TRM), Second Floor, Nairobi</span>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="contact-item bh">
                                                <h6 class="contact-title"><i class="licon-telephone"></i></h6>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="contact-item">
                                                <span class="contact-desc"> 0726 310 490 - Hurlingham</span>
                                                <span class="contact-desc"> 0758 949 232 - Thika Road</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>
{% endblock %}