{% extends 'home/home_base.html' %}
{% import 'macros/form_macros.html' as f %}
{% block custom_head_tags %}
{{ super() }}
<style>
  #content{background:#fff}
  .mario{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    box-shadow: 0 2px 8px 0 rgba(5,7,15,.1);
    padding: 2rem 2rem;
    }
</style>
{% endblock %}

{% block content %}
<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <div id="content">

      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

      <div class="breadcrumbs-wrap" data-bg="{{ url_for('static', filename='home/images/1920x200_img1.jpg') }}">

        <div class="container">

          <h1 class="page-title">Import Vehicle</h1>

          <ul class="breadcrumbs">

            <li><a href="{{ url_for('home.index') }}">Home</a></li>
            <li>Import Vehicle</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->

      <div class="page-section">

        <div class="container">

          <div class="content-element3 mario">

            <div class="row">
              <div class="col-sm-12">

                <h4><b>Vehicle Information</b></h4>
                <p>This is the basic information needed to import your car</p>
                {% for field in form.errors %}
                        {% for error in form.errors[field] %}
                        <div class="alert alert-error">
                            <strong>Error!</strong> {{error}}:{{field}}
                        </div>
                        {% endfor %}
                    {% endfor %}
                <form class="contact-form style-2">

                  <div class="content-element3">

                    <div class="row">
                      <div class="col-sm-6">

                        <label class="required">Make</label>
                        <div class="auto-custom-select">
                        {{ form.make(class="", id="car-makes") }}
                        </div>
                        <label class="required">Plate</label>
                        {{ form.plate(class="") }}

                        <label class="required tooltips">Price ($)
                          <span class="right-tooltip qustion-tooltip">
                            <a href="javascript:;" class="qustion-icon"></a>
                            <span class="tooltip">
                              <span><b>What is the competitively priceof your vehicle?</b></span>
                              <span>Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci.</span>
                              <span class="licon-cross-circle close-tooltip"></span>
                            </span>
                          </span>
                        </label>
                        {{ form.price(class="") }}

                      </div>
                      <div class="col-sm-6">

                        <label class="required">Model</label>
                        <div class="auto-custom-select1">
                          {{ form.model(class="auto-selected-option", id="car-models") }}
                        </div>

                        <label class="required">Year</label>
                        {{ form.year(class="") }}



                        <label class="required">Mileage</label>
                        {{ form.mileage(class="") }}

                      </div>
                    </div>

                  </div>

                  <div class="content-element3">

                    <h5><b>Detailed Vehicle Information</b></h5>
                    <p>The more details your provide, the more activity your listing will receive.</p>

                    <div class="row">
                      <div class="col-sm-6">

                        <label class="tooltips">Color
                        </label>
                        {{ form.color(class="") }}

                        <label class="tooltips">Engine Size
                        </label>
                       {{ form.engine_size(class="") }}

                        <label>Fuel Type</label>
                          <div class="auto-custom-select">
                        {{ form.fuel_type(class="") }}
                          </div>

                      </div>
                      <div class="col-sm-6">

                        <label>Condition</label>
                        {{ form.condition(class="") }}

                        <label class="tooltips">Transmission
                        </label>
                          <div class="auto-custom-select">
                        {{ form.transmission(class="") }}
                          </div>
                          <label>Interior</label>
                        {{ form.interior(class="") }}
                      </div>
                    </div>

                  </div>

                  <div class="content-element3">

                    <h5><b>Buyer's Comments</b></h5>
                    <p></p>
                    <textarea rows="5"></textarea>

                  </div>

                  <div class="content-element7">

                    <h5><b>Contact Information</b></h5>
                    <p>Enter address you want to use for your ad. Your phone number will be available to prospective buyers. We'll email you notifications and information, but we'll never display your email address. Please read our <a href="#" class="link-text2">Privacy Statement</a>.</p>

                    <div class="row">
                      <div class="col-sm-6">
                        <label class="required tooltips">Name
                        </label>
                          {{ form.seller_name(class='') }}


                        <label class="required">Email</label>
                        {{ form.seller_email(class="") }}

                      </div>
                      <div class="col-sm-6">
                        <label class="required tooltips">Phone Number
                        </label>
                        {{ form.phone_number(class="") }}

                        <label class="required tooltips">Area
                        </label>
                        {{ form.area(class="") }}
                      </div>
                    </div>

                  </div>

                  <div class="align-right">
                    <a href="#" class="btn btn-style-3">Submit</a>
                  </div>

                </form>

              </div>

            </div>

          </div>

          <div class="content-element2 mario">

              <div class="row">
                <div class="col-sm-12">

                  <h3><b>The Process</b></h3>
                  <div class="accordion">

                    <!--accordion item-->
                    <div class="accordion-item">
                      <h6 class="a-title active">Deposit</h6>
                      <div class="a-content">
                        <p>Once we identify your budget and preference you commit to Importing with a deposit of 30%. We then go ahead to start looking for a car.
                        </p>
                      </div>
                    </div>

                    <!--accordion item-->
                    <div class="accordion-item">
                      <h6 class="a-title">Purchase</h6>
                      <div class="a-content">
                        <p>We agree on a vehicle and bid or buy the same either from the Japanese Auctions or the UK.
                        </p>
                      </div>
                    </div>

                    <!--accordion item-->
                    <div class="accordion-item">
                      <h6 class="a-title">Paperwork</h6>
                      <div class="a-content">
                        <p>The documentation necessary for export arrives.
                        </p>

                      </div>
                    </div>
                      <!--accordion item-->
                    <div class="accordion-item">
                      <h6 class="a-title">Ship arrives</h6>
                      <div class="a-content">
                        <p>The Ship arrives at the port in Mombasa.
                        </p>

                      </div>
                    </div>
                    <div class="accordion-item">
                      <h6 class="a-title">Conversion &amp; Testing</h6>
                      <div class="a-content">
                        <p>Your car has the necessary conversion work and is submitted for Clearance.
                        </p>

                      </div>
                    </div>
                    <div class="accordion-item">
                      <h6 class="a-title">Conversion &amp; Testing</h6>
                      <div class="a-content">
                        <p>Your car has the necessary conversion work and is submitted for Clearance.
                        </p>

                      </div>
                    </div>
                    <div class="accordion-item">
                      <h6 class="a-title">Registration</h6>
                      <div class="a-content">
                        <p>The letter from the KRA containing your new registration mark arrives. The car is then transported to Nairobi by road or flat bed.
                        </p>

                      </div>
                    </div>

                  </div>

                </div>
              </div>
          </div>

        </div>

      </div>

    </div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->
{% endblock %}

{% block scripts %}
<script>
  $(document).ready(function() {
    var dropdown = {
        make: $('#car-makes'),
        model:$('#car-models')
    };

    updateModel();

  function updateModel() {
      var send = {
          make_id: dropdown.make.val()
      };
      dropdown.model.attr('disabled', 'disabled');
      dropdown.model.empty();
      $.getJSON("{{ url_for('home._get_model') }}", send, function(data) {
          data.forEach(function(item) {
              dropdown.model.append(
                  $('<option>', {
                      value: item[0],
                      text: item[1]
                  })

              );
          });
          dropdown.model.removeAttr('disabled');
      });
  }
  dropdown.make.on('change', function() {
      updateModel();
  });
});
</script>
{% endblock %}


