{% extends 'home/home_base.html' %}
{% block custom_head_tags %}
{{ super() }}
  <style>
  #content{border-top: 1px solid #ccc;}
  </style>
{% endblock %}
{% block content %}

<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <div id="content" class="page-content-wrap">


      <div class="container">

        <div class="row">

          <aside id="sidebar" class="sbl style-2 col-md-3 col-sm-12">

            <div class="filter-section">
              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h5>Filter</h5>
                </div>

              </div>
              <div class="accordion toggle no-of">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title active">Make</h6>
                  <div class="a-content">

                    <form>

                      <div class="auto-custom-select">
                        <select data-default-text="Audi">
                          <option value="menu">Option 1</option>
                          <option value="menu">Option 2</option>
                          <option value="menu">Option 3</option>
                        </select>
                      </div>

                    </form>

                  </div>
                </div>

              </div>

              <div class="accordion toggle no-of">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Model</h6>
                  <div class="a-content">

                    <form>

                      <div class="auto-custom-select">
                        <select data-default-text="A1">
                          <option value="menu">Option 1</option>
                          <option value="menu">Option 2</option>
                          <option value="menu">Option 3</option>
                        </select>
                      </div>

                    </form>

                  </div>
                </div>

              </div>

              <div class="accordion toggle no-of">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title active">Price</h6>
                  <div class="a-content">

                    <!--price-->
                    <fieldset class="price-scale">
                      <div class="clearfix range-values">
                        <input class="f-left first-limit" readonly type="text" value="KSH 500,000">
                        <input class="f-right last-limit" readonly type="text" value="KSH 9,000,000">
                      </div>
                      <div id="price"></div>
                    </fieldset>

                  </div>
                </div>

              </div>

              <div class="accordion toggle no-of">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Year</h6>
                  <div class="a-content">

                    <form>

                      <div class="auto-custom-select">
                        <select data-default-text="2019">
                          <option value="menu">Option 1</option>
                          <option value="menu">Option 2</option>
                          <option value="menu">Option 3</option>
                        </select>
                      </div>

                    </form>

                  </div>
                </div>

              </div>

              <div class="accordion toggle no-of">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Mileage</h6>
                  <div class="a-content">

                    <form>

                      <div class="auto-custom-select">
                        <select data-default-text="Any">
                          <option value="menu">Option 1</option>
                          <option value="menu">Option 2</option>
                          <option value="menu">Option 3</option>
                        </select>
                      </div>

                    </form>

                  </div>
                </div>

              </div>

              <div class="accordion toggle no-of">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Body Type</h6>
                  <div class="a-content">

                    <form>

                      <div class="auto-custom-select">
                        <select data-default-text="Any">
                          <option value="menu">Option 1</option>
                          <option value="menu">Option 2</option>
                          <option value="menu">Option 3</option>
                        </select>
                      </div>

                    </form>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Fuel Type</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-85" id="checkbox-85" checked="">
                      <label for="checkbox-85">Petrol</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-86" id="checkbox-86">
                      <label for="checkbox-86">Diesel</label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Drivetrain</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-45" id="checkbox-45" checked="">
                      <label for="checkbox-45">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-46" id="checkbox-46">
                      <label for="checkbox-46">4x2/2-wheel drive </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-47" id="checkbox-47">
                      <label for="checkbox-47">4x4/4-wheel drive</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-48" id="checkbox-48">
                      <label for="checkbox-48">AWD</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-49" id="checkbox-49">
                      <label for="checkbox-49">FWD</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-50" id="checkbox-50">
                      <label for="checkbox-50">RWD</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-51" id="checkbox-51">
                      <label for="checkbox-51">Unknown</label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Transmission</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-52" id="checkbox-52" checked="">
                      <label for="checkbox-52">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-53" id="checkbox-53">
                      <label for="checkbox-53">Manual</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-54" id="checkbox-54">
                      <label for="checkbox-54">Automatic</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-55" id="checkbox-55">
                      <label for="checkbox-55">Automanual</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-56" id="checkbox-56">
                      <label for="checkbox-56">CVT</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-57" id="checkbox-57">
                      <label for="checkbox-57">Other / Unknown</label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle no-of">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Color</h6>
                  <div class="a-content">

                    <form>

                      <div class="auto-custom-select">
                        <select data-default-text="Any">
                          <option value="menu">Option 1</option>
                          <option value="menu">Option 2</option>
                          <option value="menu">Option 3</option>
                        </select>
                      </div>

                    </form>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title active">Keywords</h6>
                  <div class="a-content">

                    <form>

                      <input type="text" placeholder="Additional keywords">

                    </form>

                  </div>
                </div>

              </div>

            </div>

          </aside>
            <main id="main" class="col-md-9 col-sm-12">

                <div class="dealers-section product-type">
                    <div class="dealers-section product-type">

                        <h3 class="section-title">{{vehicles_count}} Vehicles</h3>

                        <!-- dealer sorting -->

                        <div class="flex-row flex-justify">

                            <div class="sort-dealer">

                                <div class="sort-col">

                                    <div class="flex-row flex-center">

                                        <span>Sort by</span>
                                        <div class="auto-custom-select">
                                            <select data-default-text="Price: highest first">
                                                <option value="menu">Price: lowest first</option>
                                                <option value="menu">Price: lowest highest</option>
                                                <option value="menu">Mileage</option>
                                                <option value="menu">Age</option>
                                                <option value="menu">Newest stock</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>

                    <div id="product-holder" class="products-holder view-list">

                        <div class="row flex-row">
                        {% for vehicle in all_vehicles %}
                            <div class="col-sm-4 col-xs-6">

                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                                <div class="product">

                                    <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                                    <figure class="product-image">
                                        <a href="{{ url_for('home.view_car', id=vehicle.id) }}"><img src="{% if vehicle.image_url %}
                                            {{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.image_url))}}
                                       {% else %}
                                            {{ url_for('static', filename='images/toyota.jpeg')}}
                                       {% endif %}" alt=""></a>
                                        <div class="overlay full-width-block">
                                            <div class="icon-fancy">
                                                <a href="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.image_url))}}" class="fancybox" data-fancybox="group"><i
                                                        class="licon-camera2"></i><span>7</span></a>
                                                <a href="#"><i class="licon-camera"></i><span>1</span></a>
                                            </div>
                                            <div>
                                                <a href="#"><i class="licon-heart"></i></a>
                                                <a href="#"><i class="licon-copy"></i></a>
                                            </div>
                                        </div>
                                    </figure>
                                    <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                                    <div class="product-description">

                                        <div class="row">
                                            <div class="col-xs-8">

                                                <h5 class="product-name"><a href="{{ url_for('home.view_car', id=vehicle.id) }}">{{vehicle.name}}</a></h5>

                                                <div class="pricing-area">

                                                    <div class="product-price">
                                                        {{vehicle.price}}
                                                    </div>

                                                </div>
                                                <div class="pricing-area">

                                                    <div class="mpg">
                                                        <span>Year</span>
                                                        {{vehicle.year}}
                                                    </div>
                                                    <div class="mpg">
                                                        <span>Mileage</span>
                                                        {{vehicle.mileage}} km
                                                    </div>
                                                </div>
                                                <div class="pricing-area">

                                                    <div class="mpg">
                                                        <span>Engine Size</span>
                                                        {{vehicle.engine_size}} cc
                                                    </div>
                                                    <div class="mpg">
                                                        <span>Engine Type</span>
                                                        {% if vehicle.fuel_type_id==1 %} Petrol {% elif vehicle.fuel_type_id==2 %} Diesel
                                                        {% elif vehicle.fuel_type_id==3 %} Hybrid {% else %} N/A {% endif %}
                                                    </div>
                                                </div>
                                                <div class="pricing-area">
                                                     <div class="mpg">
                                                        <span>Transmission</span>
                                                        {% if vehicle.transmission_id==1 %} Manual {% elif vehicle.transmission_id==2
                                                       %} Automatic {% else %} N/A {% endif %}
                                                    </div>
                                                </div>


                                                <p>{{vehicle.description}}</p>

                                                <div class="brends flex-row flex-center">
                                                    <a href="#"><img src="" alt=""></a>
                                                    <a href="#"><img src="" alt=""></a>
                                                </div>

                                            </div>
                                            <div class="col-xs-4">

                                                <div class="dealer-item">

                                                    <div class="dealer-title">
                                                        <img src="" alt="">
                                                        <div class="wrapper">
                                                            <a href="#"><b>Gigi Motors</b></a>
                                                        </div>
                                                    </div>

                                                    <div class="dealer-desc">

                                                        <div class="contact-section">



                                                            <div class="contact-item">
                                                                <span class="contact-title"><i
                                                                        class="licon-telephone"></i>{{vehicle.phone_number}}</span>
                                                            </div>

                                                        </div>

                                                        <a href="{{ url_for('home.view_car', id=vehicle.id) }}" class="btn btn-small">Enquire</a>

                                                    </div>

                                                    <a href="#" class="link-text2">Similar cars</a>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                                </div>
                                <!-- - - - - - - - - - - - - - / Product - - - - - - - - - - - - - - - - -->

                            </div>
                        {% endfor %}

                        </div>

                    </div>

                    <ul class="pagination">
                        <li>
                          {% if prev_url %}
                          <a href="{{ prev_url or '#' }}" class="prev-page"></a>
                          {% endif %}
                        </li>

                        <li>
                          {% if next_url %}
                          <a href="{{ next_url or '#' }}" class="next-page {% if not next_url %} disabled{% endif %}"></a>
                          {% endif %}
                        </li>
                    </ul>
                </div>
            </main>
        </div>
      </div>
    </div>

{% endblock %}