{% extends 'home/home_base.html' %}
{% block custom_head_tags %}
{{ super() }}
  <style>
  #content{border-top: 1px solid #ccc;}
  </style>
{% endblock %}
{% block content %}

<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <div id="content" class="page-content-wrap">


      <div class="container">

        <div class="row">

          <aside id="sidebar" class="sbl style-2 col-md-3 col-sm-12">

            <div class="filter-section">

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Condition</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-1" id="checkbox-1" checked="">
                      <label for="checkbox-1">New</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-2" id="checkbox-2">
                      <label for="checkbox-2">Used</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-3" id="checkbox-3">
                      <label for="checkbox-3">Certified Pre-Owned</label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Year</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-4" id="checkbox-4" checked="">
                      <label for="checkbox-4">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-5" id="checkbox-5">
                      <label for="checkbox-5">2018</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-6" id="checkbox-6">
                      <label for="checkbox-6">2017</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-7" id="checkbox-7">
                      <label for="checkbox-7">2016</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-8" id="checkbox-8">
                      <label for="checkbox-8">2015</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-9" id="checkbox-9">
                      <label for="checkbox-9">2014</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-10" id="checkbox-10">
                      <label for="checkbox-10">2013</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-11" id="checkbox-11">
                      <label for="checkbox-11">2012</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-12" id="checkbox-12">
                      <label for="checkbox-12">2011</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-13" id="checkbox-13">
                      <label for="checkbox-13">2010</label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Make</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-14" id="checkbox-14" checked>
                      <label for="checkbox-14">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-15" id="checkbox-15">
                      <label for="checkbox-15">Acura</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-16" id="checkbox-16">
                      <label for="checkbox-16">Alfa Romeo </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-17" id="checkbox-17">
                      <label for="checkbox-17">Am General </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-18" id="checkbox-18">
                      <label for="checkbox-18">Aston Martin </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-19" id="checkbox-19">
                      <label for="checkbox-19">Audi </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-20" id="checkbox-20">
                      <label for="checkbox-20">Bentley</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-21" id="checkbox-21">
                      <label for="checkbox-21">BMW</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-22" id="checkbox-22">
                      <label for="checkbox-22">Lexus</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-23" id="checkbox-23">
                      <label for="checkbox-23">Toyota</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-24" id="checkbox-24">
                      <label for="checkbox-24">Mitsubishi</label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Model</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-25" id="checkbox-25" checked="">
                      <label for="checkbox-25">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-26" id="checkbox-26">
                      <label for="checkbox-26">1 Series M</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-27" id="checkbox-27">
                      <label for="checkbox-27">124 Spider </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-28" id="checkbox-28">
                      <label for="checkbox-28">128 </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-29" id="checkbox-29">
                      <label for="checkbox-29">135 </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-30" id="checkbox-30">
                      <label for="checkbox-30">1500 </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-31" id="checkbox-31">
                      <label for="checkbox-31">190 </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-32" id="checkbox-32">
                      <label for="checkbox-32">1900 </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-33" id="checkbox-33">
                      <label for="checkbox-33">190 </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-34" id="checkbox-34">
                      <label for="checkbox-34">1900 </label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle no-of">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Price</h6>
                  <div class="a-content">

                    <!--price-->
                    <fieldset class="price-scale">
                      <div class="clearfix range-values">
                        <input class="f-left first-limit" readonly type="text" value="$1,000">
                        <input class="f-right last-limit" readonly type="text" value="$99,000">
                      </div>
                      <div id="price"></div>
                    </fieldset>

                  </div>
                </div>

              </div>

              <div class="accordion toggle no-of">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Mileage</h6>
                  <div class="a-content">

                    <form>

                      <div class="auto-custom-select">
                        <select data-default-text="Any">
                          <option value="menu">Option 1</option>
                          <option value="menu">Option 2</option>
                          <option value="menu">Option 3</option>
                        </select>
                      </div>

                    </form>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Body Style</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-35" id="checkbox-35" checked="">
                      <label for="checkbox-35">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-36" id="checkbox-36">
                      <label for="checkbox-36">Cargo Van </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-37" id="checkbox-37">
                      <label for="checkbox-37">Convertible </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-38" id="checkbox-38">
                      <label for="checkbox-38">Coupe </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-39" id="checkbox-39">
                      <label for="checkbox-39">Crew Cab Pickup</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-30" id="checkbox-40">
                      <label for="checkbox-40">Extended Cab Pickup</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-41" id="checkbox-41">
                      <label for="checkbox-41">Hatchback </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-42" id="checkbox-42">
                      <label for="checkbox-42">Minivan</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-43" id="checkbox-43">
                      <label for="checkbox-43">Sedan</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-44" id="checkbox-44">
                      <label for="checkbox-44">Crossover</label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Drivetrain</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-45" id="checkbox-45" checked="">
                      <label for="checkbox-45">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-46" id="checkbox-46">
                      <label for="checkbox-46">4x2/2-wheel drive </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-47" id="checkbox-47">
                      <label for="checkbox-47">4x4/4-wheel drive</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-48" id="checkbox-48">
                      <label for="checkbox-48">AWD</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-49" id="checkbox-49">
                      <label for="checkbox-49">FWD</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-50" id="checkbox-50">
                      <label for="checkbox-50">RWD</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-51" id="checkbox-51">
                      <label for="checkbox-51">Unknown</label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Transmission</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-52" id="checkbox-52" checked="">
                      <label for="checkbox-52">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-53" id="checkbox-53">
                      <label for="checkbox-53">Manual</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-54" id="checkbox-54">
                      <label for="checkbox-54">Automatic</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-55" id="checkbox-55">
                      <label for="checkbox-55">Automanual</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-56" id="checkbox-56">
                      <label for="checkbox-56">CVT</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-57" id="checkbox-57">
                      <label for="checkbox-57">Other / Unknown</label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Exterior Color</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-58" id="checkbox-58" checked="">
                      <label for="checkbox-58">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-59" id="checkbox-59">
                      <label for="checkbox-59">Beige</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-60" id="checkbox-60">
                      <label for="checkbox-60">Black</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-61" id="checkbox-61">
                      <label for="checkbox-61">Blue</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-62" id="checkbox-62">
                      <label for="checkbox-62">Brown </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-63" id="checkbox-63">
                      <label for="checkbox-63">Gold </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-64" id="checkbox-64">
                      <label for="checkbox-64">Gray </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-65" id="checkbox-65">
                      <label for="checkbox-65">Green </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-66" id="checkbox-66">
                      <label for="checkbox-66">Red </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-67" id="checkbox-67">
                      <label for="checkbox-67">Yellow </label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Interior Color</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-68" id="checkbox-68" checked="">
                      <label for="checkbox-68">Any</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-69" id="checkbox-69">
                      <label for="checkbox-69">Beige</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-70" id="checkbox-70">
                      <label for="checkbox-70">Black</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-71" id="checkbox-71">
                      <label for="checkbox-71">Blue</label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-72" id="checkbox-72">
                      <label for="checkbox-72">Brown </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-73" id="checkbox-73">
                      <label for="checkbox-73">Gold </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-74" id="checkbox-74">
                      <label for="checkbox-74">Gray </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-75" id="checkbox-75">
                      <label for="checkbox-75">Green </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-76" id="checkbox-76">
                      <label for="checkbox-76">Red </label>

                    </div>

                    <div class="input-wrapper">

                      <input type="checkbox" name="checkbox-77" id="checkbox-77">
                      <label for="checkbox-77">Yellow </label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Photos</h6>
                  <div class="a-content">

                    <div class="input-wrapper">

                      <input type="radio" name="radio-1" id="radio-1">
                      <label for="radio-1">Only show cars with photos</label>

                    </div>

                  </div>
                </div>

              </div>

              <div class="accordion toggle">

                <!--accordion item-->
                <div class="accordion-item">
                  <h6 class="a-title">Keywords</h6>
                  <div class="a-content">

                    <form>

                      <input type="text" placeholder="Additional keywords">

                    </form>

                  </div>
                </div>

              </div>

            </div>

          </aside>
            <main id="main" class="col-md-9 col-sm-12">

                <div class="dealers-section product-type">
                    <div class="dealers-section product-type">

                        <h3 class="section-title">{{vehicles_count}} Vehicles</h3>

                        <!-- dealer sorting -->

                        <div class="flex-row flex-justify">

                            <div class="sort-dealer">

                                <div class="sort-col">

                                    <div class="flex-row flex-center">

                                        <span>Sort by</span>
                                        <div class="auto-custom-select">
                                            <select data-default-text="Price: highest first">
                                                <option value="menu">Price: lowest first</option>
                                                <option value="menu">Option 2</option>
                                                <option value="menu">Option 3</option>
                                            </select>
                                        </div>

                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>

                    <div id="product-holder" class="products-holder view-list">

                        <div class="row flex-row">
                        {% for vehicle in all_vehicles %}
                            <div class="col-sm-4 col-xs-6">

                                <!-- - - - - - - - - - - - - - Product - - - - - - - - - - - - - - - - -->
                                <div class="product">

                                    <!-- - - - - - - - - - - - - - Product Image - - - - - - - - - - - - - - - - -->
                                    <figure class="product-image">
                                        <a href="{{ url_for('home.view_car', id=vehicle.id) }}"><img src="{% if vehicle.image_url %}
                                            {{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.image_url))}}
                                       {% else %}
                                            {{ url_for('static', filename='images/toyota.jpeg')}}
                                       {% endif %}" alt=""></a>
                                        <div class="overlay full-width-block">
                                            <div class="icon-fancy">
                                                <a href="{{ url_for('static', filename='ckeditor_uploads/{}'.format(vehicle.image_url))}}" class="fancybox" data-fancybox="group"><i
                                                        class="licon-camera2"></i><span>7</span></a>
                                                <a href="#"><i class="licon-camera"></i><span>1</span></a>
                                            </div>
                                            <div>
                                                <a href="#"><i class="licon-heart"></i></a>
                                                <a href="#"><i class="licon-copy"></i></a>
                                            </div>
                                        </div>
                                    </figure>
                                    <!-- - - - - - - - - - - - - - End of Product Image - - - - - - - - - - - - - - - - -->

                                    <!-- - - - - - - - - - - - - - Product Description - - - - - - - - - - - - - - - - -->
                                    <div class="product-description">

                                        <div class="row">
                                            <div class="col-xs-8">

                                                <h5 class="product-name"><a href="#">{{vehicle.name}}</a></h5>

                                                <div class="pricing-area">

                                                    <div class="product-price">
                                                        {{vehicle.price}}
                                                    </div>

                                                </div>
                                                <div class="pricing-area">

                                                    <div class="mpg">
                                                        <span>Year</span>
                                                        {{vehicle.year}}
                                                    </div>
                                                    <div class="mpg">
                                                        <span>Mileage</span>
                                                        {{vehicle.mileage}}
                                                    </div>
                                                </div>
                                                <div class="pricing-area">

                                                    <div class="mpg">
                                                        <span>Engine Size</span>
                                                        {{vehicle.engine_size}}
                                                    </div>
                                                    <div class="mpg">
                                                        <span>Engine Type</span>
                                                        {% if vehicle.fuel_type_id==1 %} Petrol {% elif vehicle.fuel_type_id==2 %} Diesel
                                                        {% elif vehicle.fuel_type_id==3 %} Hybrid {% else %} N/A {% endif %}
                                                    </div>
                                                </div>
                                                <div class="pricing-area">
                                                     <div class="mpg">
                                                        <span>Transmission</span>
                                                        {% if vehicle.transmission_id==1 %} Automatic {% elif vehicle.transmission_id==2
                                                       %} Manual {% else %} N/A {% endif %}
                                                    </div>
                                                </div>


                                                <p>{{vehicle.description}}</p>

                                                <div class="brends flex-row flex-center">
                                                    <a href="#"><img src="images/93x41_img1.jpg" alt=""></a>
                                                    <a href="#"><img src="images/93x41_img2.jpg" alt=""></a>
                                                </div>

                                            </div>
                                            <div class="col-xs-4">

                                                <div class="dealer-item">

                                                    <div class="dealer-title">
                                                        <img src="" alt="">
                                                        <div class="wrapper">
                                                            <a href="#"><b>Gigi Motors</b></a>
                                                        </div>
                                                    </div>

                                                    <div class="dealer-desc">

                                                        <div class="contact-section">



                                                            <div class="contact-item">
                                                                <span class="contact-title"><i
                                                                        class="licon-telephone"></i>{{vehicle.phone_number}}</span>
                                                            </div>

                                                        </div>

                                                        <a href="{{ url_for('home.view_car', id=vehicle.id) }}" class="btn btn-small">Make an Enquiry</a>

                                                    </div>

                                                    <a href="#" class="link-text2">Similar cars</a>

                                                </div>

                                            </div>
                                        </div>

                                    </div>
                                    <!-- - - - - - - - - - - - - - End of Product Description - - - - - - - - - - - - - - - - -->

                                </div>
                                <!-- - - - - - - - - - - - - - / Product - - - - - - - - - - - - - - - - -->

                            </div>
                        {% endfor %}

                        </div>

                    </div>

                    <ul class="pagination">
                        <li>
                          {% if prev_url %}
                          <a href="{{ prev_url or '#' }}" class="prev-page"></a>
                          {% endif %}
                        </li>

                        <li>
                          {% if next_url %}
                          <a href="{{ next_url or '#' }}" class="next-page {% if not next_url %} disabled{% endif %}"></a>
                          {% endif %}
                        </li>
                    </ul>
                </div>
            </main>
        </div>
      </div>
    </div>

{% endblock %}