{% extends 'home/home_base.html' %}

{% block content %}
<!-- - - - - - - - - - - - - - Content - - - - - - - - - - - - - - - - -->

    <div id="content">

      <!-- - - - - - - - - - - - - - Breadcrumbs - - - - - - - - - - - - - - - - -->

      <div class="breadcrumbs-wrap" data-bg="{{ url_for('static', filename='home/images/1920x200_img1.jpg') }}">

        <div class="container">

          <h1 class="page-title">Single Post</h1>

          <ul class="breadcrumbs">

            <li><a href="index.html">Home</a></li>
            <li>Post</li>

          </ul>

        </div>

      </div>

      <!-- - - - - - - - - - - - - end Breadcrumbs - - - - - - - - - - - - - - - -->

      <div class="page-section">

        <div class="container">

          <div class="row">

            <main id="main" class="col-md-8 col-sm-12">

              <div class="single-post">

                <div class="review-section">

                  <article class="entry review-item">

                    <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->

                    <div class="entry-attachment">

                      <figure class="thumbnail-attachment"><img src="{{ url_for('static', filename='home/images/750x500_img1.jpg') }}" alt=""></figure>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

                    <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                    <div class="entry-body">

                      <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                      <div class="entry-meta">

                        <time class="entry-date" datetime="2016-01-27">October 28, 2018</time>
                        <a href="#" class="entry-cat">News</a>
                        <a href="#" class="entry-comments-link">3 comments</a>
                        <span class="entry-byline">by<a href="#"> Admin</a></span>

                      </div>

                      <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                    </div>

                    <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                    <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus.</p>
                    <p><b>Ut tellus dolor:</b> dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. </p>
                    <p><b>Aliquam erat volutpat:</b> duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris fermentum dictum magna. Sed laoreet aliquam leo. </p>
                    <p>Ut tellus dolor:  dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus.Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. </p>
                    <p><b>Aenean nec:</b> <a href="#" class="link-text2">Vestibulum ante ipsum primis in faucibus orci luctus.</a></p>

                  </article>

                  <div class="content-element7">

                    <div class="carousel-type-4">

                      <div class="owl-carousel" data-max-items="1">

                        <div class="item-carousel">
                          <img src="{{ url_for('static', filename='home/images/750x430_img7.jpg') }}" alt="">
                        </div>

                        <div class="item-carousel">
                          <img src="{{ url_for('static', filename='home/images/750x430_img9.jpg') }}" alt="">
                        </div>

                        <div class="item-carousel">
                          <img src="{{ url_for('static', filename='home/images/750x430_img7.jpg') }}" alt="">
                        </div>

                      </div>

                    </div>

                    <p>Nam elit agna, endrerit sit amet, tincidunt ac, viverra sed, nulla. </p>

                  </div>

                  <div class="content-element7">

                    <h4><b>Exterior</b></h4>
                    <p>Donec porta diam eu massa. Quisque diam lorem, interdum vitae,dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Vestibulum iaculis lacinia est. Proin dictum elementum velit. Fusce euismod consequat ante. Lorem ipsum dolor sit amet, consectetuer adipisMauris accumsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. </p>

                  </div>

                  <div class="content-element7">

                    <h4><b>Interior</b></h4>
                    <p>Nulla venenatis. In pede mi, aliquet sit amet, euismod in,auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.</p>

                  </div>

                  <div class="content-element7">

                    <h4><b>Under the hood</b></h4>
                    <p>Nulla venenatis. In pede mi, aliquet sit amet, euismod in,auctor ut, ligula. Aliquam dapibus tincidunt metus. Praesent justo dolor, lobortis quis, lobortis dignissim, pulvinar ac, lorem. Vestibulum sed ante. Donec sagittis euismod purus.Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam,eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,nsectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore.</p>

                  </div>

                  <div class="content-element7">

                    <div class="tagcloud">

                      <span class="f-left">Tags:</span>

                      <a href="#">auto</a>
                      <a href="#">dealer</a>
                      <a href="#">car buying</a>

                    </div>

                  </div>

                  <div class="content-element7">

                    <span class="share-title">Share this:</span>
                    <ul class="social-icons share">

                      <li><a href="#" class="sh-facebook"><i class="icon-facebook"></i>Facebook</a></li>
                      <li><a href="#" class="sh-twitter"><i class="icon-twitter"></i>Twitter</a></li>
                      <li><a href="#" class="sh-google"><i class="icon-gplus-3"></i>Google Plus</a></li>
                      <li><a href="#" class="sh-pinterest"><i class="icon-pinterest"></i>Pinterest</a></li>
                      <li><a href="#" class="sh-mail"><i class="icon-mail"></i>Email to a Friend</a></li>

                    </ul>

                  </div>

                  <div class="content-element3">

                    <div class="entries-nav">

                      <div class="previous-entry">

                        <a href="#" class="alignleft">
                          <img src="{{ url_for('static', filename='home/images/130x87_img5.jpg') }}" alt="">
                        </a>
                        <div>
                          <a href="#">previous post</a>
                          <h5><a href="#">Vestibulum Ante Ipsum <br> Primis in Faucibus</a></h5>
                        </div>

                      </div>

                      <div class="next-entry">

                        <a href="#" class="alignright">
                          <img src="{{ url_for('static', filename='home/images/130x87_img5.jpg') }}" alt="">
                        </a>
                        <div>
                          <a href="#">next post</a>
                          <h5><a href="#">Aliquam Dapibus <br> Tincidunt Metus</a></h5>
                        </div>

                      </div>

                    </div>

                  </div>

                  <div class="content-element">

                    <div class="team-holder type-2">

                      <!-- team element -->
                      <div class="team-item">

                        <div class="team-member">
                          <a href="#" class="member-photo">
                            <img src="" alt="">
                          </a>
                          <div class="wrapper">
                            <h5 class="member-name"><a href="#">Admin</a></h5>
                            <p class="member-about">Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  </p>
                            <ul class="social-icons style-2">

                              <li class="fb-icon"><a href="#"><i class="icon-facebook"></i></a></li>
                              <li class="google-icon"><a href="#"><i class="icon-gplus-3"></i></a></li>
                              <li class="tweet-icon"><a href="#"><i class="icon-twitter"></i></a></li>
                              <li class="insta-icon"><a href="#"><i class="icon-instagram-5"></i></a></li>

                            </ul>
                          </div>
                        </div>

                      </div>

                    </div>

                  </div>

                  <div class="content-element">

                    <h5 class="section-title">Related Posts</h5>
                    <div class="entry-area">

                      <div class="row">
                        <div class="col-sm-4">

                          <article class="entry">

                            <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->
                            <div class="thumbnail-attachment">
                              <a href="#"><img src="{{ url_for('static', filename='home/images/230x154_img5.jpg') }}" alt=""></a>
                            </div>
                            <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                            <div class="entry-body">

                              <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                              <div class="entry-meta">

                                <time class="entry-date" datetime="2018-10-28">October 28, 2018</time>

                              </div>

                              <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                              <h5 class="entry-title"><a href="#">Mauris Fermentum Dictum Magna</a></h5>

                            </div>

                            <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                          </article>

                        </div>
                        <div class="col-sm-4">

                          <article class="entry">

                            <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->
                            <div class="thumbnail-attachment">
                              <a href="#"><img src="{{ url_for('static', filename='home/images/230x154_img5.jpg') }}" alt=""></a>
                            </div>
                            <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                            <div class="entry-body">

                              <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                              <div class="entry-meta">

                                <time class="entry-date" datetime="2018-10-23">October 23, 2018</time>

                              </div>

                              <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                              <h5 class="entry-title"><a href="#">Vestibulum Ante Ipsum Primis in Faucibus </a></h5>

                            </div>

                            <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                          </article>

                        </div>
                        <div class="col-sm-4">

                          <article class="entry">

                            <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->
                            <div class="thumbnail-attachment">
                              <a href="#"><img src="{{ url_for('static', filename='home/images/230x154_img5.jpg') }}" alt=""></a>
                            </div>
                            <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

                            <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                            <div class="entry-body">

                              <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                              <div class="entry-meta">

                                <time class="entry-date" datetime="2018-10-19">October 19, 2018</time>

                              </div>

                              <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                              <h5 class="entry-title"><a href="#">Mauris Fermentum Dictum Magna</a></h5>

                            </div>

                            <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                          </article>

                        </div>
                      </div>

                    </div>

                  </div>

                  <div class="content-element">

                    <h5 class="section-title">Comments</h5>
                    <ol class="comments-list">

                      <li class="comment">

                        <article>

                          <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->

                          <div class="gravatar">

                            <a href="#"><img src="" alt=""></a>

                          </div>

                          <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->

                          <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->

                          <div class="comment-body">

                            <header class="comment-meta">

                              <h6 class="comment-author"><a href="#">John Doe</a></h6>
                              <time datetime="2015-10-17 02:41" class="comment-date">October 17, 2017 at 2:41 pm</time>
                              <a href="#" class="comment-reply-link">Reply</a>

                            </header>

                            <p>Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>

                          </div><!--/ .comment-body-->

                          <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->

                        </article>

                        <ol class="children">

                          <li class="comment">

                            <article>

                              <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->

                              <div class="gravatar">

                                <a href="#"><img src="" alt=""></a>

                              </div>

                              <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->

                              <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->

                              <div class="comment-body">

                                <header class="comment-meta">

                                  <h6 class="comment-author"><a href="#">Alan Smith</a></h6>
                                  <time datetime="2015-10-17 02:41" class="comment-date">October 17, 2017 at 2:41 pm</time>
                                  <a href="#" class="comment-reply-link">Reply</a>

                                </header>

                                <p>Mauris fermentum dictum magna. Sed laoreet aliquam leo. </p>

                              </div><!--/ .comment-body-->

                              <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->

                            </article>

                          </li>

                        </ol>

                      </li>

                      <li class="comment">

                        <article>

                          <!-- - - - - - - - - - - - - - Avatar - - - - - - - - - - - - - - - - -->

                          <div class="gravatar">

                            <a href="#"><img src="" alt=""></a>

                          </div>

                          <!-- - - - - - - - - - - - - - End of avatar - - - - - - - - - - - - - - - - -->

                          <!-- - - - - - - - - - - - - - Comment body - - - - - - - - - - - - - - - - -->

                          <div class="comment-body">

                            <header class="comment-meta">

                              <h6 class="comment-author"><a href="#">Jane Pirson</a></h6>
                              <time datetime="2015-10-17 02:41" class="comment-date">October 17, 2017 at 2:41 pm</time>
                              <a href="#" class="comment-reply-link">Reply</a>

                            </header>

                            <p>Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque.  </p>

                          </div><!--/ .comment-body-->

                          <!-- - - - - - - - - - - - - - End of comment body - - - - - - - - - - - - - - - - -->

                        </article>

                      </li>

                    </ol>

                  </div>

                  <div class="question-form bg-sidebar-item">

                    <h5 class="section-title">Leave a Comment</h5>
                    <p class="required">Your email address will not be published. Required fields are marked </p>

                    <form>

                      <div class="row">
                        <div class="col-sm-6">

                          <label class="required">Name</label>
                          <input type="text">

                        </div>
                        <div class="col-sm-6">

                          <label class="required">Email</label>
                          <input type="text">

                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12">

                          <label>Website</label>
                          <input type="text">

                        </div>
                      </div>

                      <div class="row">
                        <div class="col-sm-12">

                          <label class="required">Comment</label>
                          <textarea rows="5" placeholder="Message"></textarea>

                        </div>
                      </div>

                    </form>

                    <a href="#" class="btn btn-style-3">Post Comment</a>

                  </div>

                </div>

              </div>

            </main>
            <aside id="sidebar" class="sbr col-md-4 col-sm-12">

              <!-- widget search -->
              <div class="widget">

                <form class="lineform">
                  <button type="submit" class="btn-email btn btn-style-2 f-right icon-btn"><i class="licon-magnifier"></i></button>
                  <div class="wrapper">
                    <input type="email" placeholder="Search">
                  </div>
                </form>

              </div>
              <!-- / widget -->

              <!-- widget categories -->
              <div class="widget">

                <h5 class="widget-title">Categories</h5>
                <ul class="custom-list type-5">

                  <li><a href="#">Advices</a></li>
                  <li><a href="#">Delivery</a></li>
                  <li><a href="#">News</a></li>
                  <li><a href="#">Tips</a></li>

                </ul>

              </div>
              <!-- / widget -->

              <!-- widget blog -->
              <div class="widget">

                <h5 class="widget-title">Popular News</h5>

                <article class="entry">

                  <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->
                  <div class="thumbnail-attachment">
                    <a href="#"><img src="{{ url_for('static', filename='home/images/130x87_img1.jpg') }}" alt=""></a>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                  <div class="entry-body">

                    <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                    <div class="entry-meta">

                      <time class="entry-date" datetime="2018-10-28">October 28, 2018</time>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                    <h5 class="entry-title"><a href="#">Mauris Fermentum Dictum Magna</a></h5>

                  </div>

                  <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                </article>

                <article class="entry">

                  <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->
                  <div class="thumbnail-attachment">
                    <a href="#"><img src="{{ url_for('static', filename='home/images/130x87_img1.jpg')
                    }}" alt=""></a>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                  <div class="entry-body">

                    <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                    <div class="entry-meta">

                      <time class="entry-date" datetime="2018-10-23">October 23, 2018</time>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                    <h5 class="entry-title"><a href="#">Vestibulum Ante Ipsum Primis in Faucibus </a></h5>

                  </div>

                  <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                </article>

                <article class="entry">

                  <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->
                  <div class="thumbnail-attachment">
                    <a href="#"><img src="{{ url_for('static', filename='home/images/130x87_img1.jpg') }}" alt=""></a>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                  <div class="entry-body">

                    <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                    <div class="entry-meta">

                      <time class="entry-date" datetime="2018-10-19">October 19, 2018</time>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                    <h5 class="entry-title"><a href="#">Aliquam Dapibus Tincidunt Metus</a></h5>

                  </div>

                  <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                </article>

              </div>
              <!-- / widget -->

              <!-- widget comments -->
              <div class="widget">

                <h5 class="widget-title">Recent Comments</h5>
                <ul class="info-links type2 comment-type">

                  <li><a href="#" class="author">Admin</a> on <a href="#">Mauris fermentum dictum</a></li>
                  <li><a href="#" class="author">Alan Smith</a> on <a href="#">Leo ut tellus dolor</a></li>
                  <li><a href="#" class="author">George</a> on <a href="#">Eget elementum vel cursus eleifend elit</a></li>
                  <li><a href="#" class="author">Sandra</a> on <a href="#">Nemo enim ipsam voluptatem quia</a></li>
                  <li><a href="#" class="author">Admin</a> on <a href="#">Aenean auctor wisi et urna</a></li>

                </ul>

              </div>
              <!-- / widget -->

              <!-- widget blog -->
              <div class="widget">

                <h5 class="widget-title">Latest Reviews</h5>

                <article class="entry">

                  <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->
                  <div class="thumbnail-attachment">
                    <div class="review-label size3">4.9</div>
                    <a href="#"><img src="{{ url_for('static', filename='home/images/130x87_img1.jpg') }}" alt=""></a>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                  <div class="entry-body">

                    <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                    <div class="entry-meta">

                      <time class="entry-date" datetime="2018-10-28">October 28, 2018</time>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                    <h5 class="entry-title"><a href="#">Fermentum Dictum Magna</a></h5>

                  </div>

                  <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                </article>

                <article class="entry">

                  <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->
                  <div class="thumbnail-attachment">
                    <div class="review-label size3">4.3</div>
                    <a href="#"><img src="{{ url_for('static', filename='home/images/130x87_img1.jpg') }}" alt=""></a>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                  <div class="entry-body">

                    <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                    <div class="entry-meta">

                      <time class="entry-date" datetime="2018-10-23">October 23, 2018</time>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                    <h5 class="entry-title"><a href="#">Ante Ipsum Primis in Faucibus </a></h5>

                  </div>

                  <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                </article>

                <article class="entry">

                  <!-- - - - - - - - - - - - - - Attachment - - - - - - - - - - - - - - - - -->
                  <div class="thumbnail-attachment">
                    <div class="review-label size3">4.8</div>
                    <a href="#"><img src="{{ url_for('static', filename='home/images/130x87_img1.jpg') }}" alt=""></a>
                  </div>
                  <!-- - - - - - - - - - - - - - End of Attachment - - - - - - - - - - - - - - - - -->

                  <!-- - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - - -->

                  <div class="entry-body">

                    <!-- - - - - - - - - - - - - - Entry Meta - - - - - - - - - - - - - - - - -->

                    <div class="entry-meta">

                      <time class="entry-date" datetime="2018-10-19">October 19, 2018</time>

                    </div>

                    <!-- - - - - - - - - - - - - - End of Meta - - - - - - - - - - - - - - - - -->

                    <h5 class="entry-title"><a href="#">Dapibus Tincidunt Metus</a></h5>

                  </div>

                  <!-- - - - - - - - - - - - - - End of Entry body - - - - - - - - - - - - - - - - -->

                </article>

              </div>
              <!-- / widget -->

              <!-- widget newsletter -->
              <div class="widget">

                <h5 class="widget-title">Subscribe to Newsletter</h5>
                <p>Sign up to our newsletter and get exclusive offers and news you wont find anywhere else straight to your inbox!</p>
                <form id="newsletter2">
                  <button type="submit" class="btn-email btn btn-style-2 f-right" data-type="submit"><i class="licon-envelope"></i></button>
                  <div class="wrapper">
                    <input type="email" placeholder="Enter your email address" name="newsletter-email">
                  </div>
                </form>

              </div>
              <!-- / widget -->

              <!-- widget archives -->
              <div class="widget">

                <h5 class="widget-title">Archives</h5>
                <ul class="custom-list type-5">

                  <li><a href="#">November 2017</a></li>
                  <li><a href="#">October 2017</a></li>
                  <li><a href="#">September 2017</a></li>
                  <li><a href="#">August 2017</a></li>

                </ul>

              </div>
              <!-- / widget -->

              <!-- widget tags -->
              <div class="widget">

                <h5 class="widget-title">Tags</h5>
                <div class="tagcloud">

                  <a href="#">auto</a>
                  <a href="#">autotrader</a>
                  <a href="#">dealer</a>
                  <a href="#">car buying</a>
                  <a href="#">coupe</a>
                  <a href="#">hatchback</a>
                  <a href="#">jeep</a>
                  <a href="#">review</a>
                  <a href="#">road tests</a>
                  <a href="#">tips</a>

                </div>

              </div>
              <!-- / widget -->

            </aside>

          </div>

        </div>

      </div>

    </div>

    <!-- - - - - - - - - - - - - end Content - - - - - - - - - - - - - - - -->
{% endblock %}