{% extends 'layouts/admin_base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block custom_head_tags %}
{{ super() }}
<!-- CORE CSS-->
<link href="{{ url_for('static', filename='vendor/select2/css/select2.css')}}" type="text/css"
      rel="stylesheet">
<!--dropzone-->
<link href="{{ url_for('static', filename='vendor/dropzone/dropzone.min.css')}}" rel="stylesheet">
<!--jqery steps-->
<link href="{{ url_for('static', filename='vendor/jquery-steps/jquery.steps.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

<!--page title-->
<div class="page-title mb-4 d-flex align-items-center">
    <div class="mr-auto">
        <h4 class="weight500 d-inline-block pr-3 mr-3 border-right">Inventory</h4>
        <nav aria-label="breadcrumb" class="d-inline-block ">
            <ol class="breadcrumb p-0">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Inventory</a></li>
                <li class="breadcrumb-item active" aria-current="page">Add New Vehicles</li>
            </ol>
        </nav>
    </div>
</div>
<!--/page title-->

<!--profile nav-->
<div class="profile-nav mb-4">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="profile-nav-links">
                        <ul class="nav f12">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('admin.vehicles') }}">ALL VEHICLES</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" href="{{ url_for('admin.add_vehicle') }}">ADD NEW</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">EXPORT</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">DELETE</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/profile nav-->

<div class="row">
    <div class="col-xl-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="card-body">
                    <div class="stepy-tab">
                        <ul id="default-titles" class="stepy-titles">
                            <li id="default-title-0" class="current-step">
                                <div>Car Details</div>
                            </li>
                            <li id="default-title-1" class="">
                                <div>Car Images</div>
                            </li>
                        </ul>
                    </div>
                    <form class="picker-form"
                          method="post" enctype="multipart/form-data" id="default">
                        {{ form.hidden_tag() }}
                        <fieldset title="Car Details" class="step" id="default-step-0">
                            <legend> </legend>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-form-label-sm">Name</label>
                                        <input class="form-control" id="part_one-name" name="part_one-name" type="text" value="">
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-form-label-sm">Plate</label>
                                        {{ form1.plate(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-form-label-sm">Make</label>
                                        {{ form.part_one.make(class="form-control") }}
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-form-label-sm">Model</label>
                                        {{ form.part_one.model(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-form-label-sm">Condition</label>
                                        {{ form.part_one.condition(class="form-control") }}
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-form-label-sm">Price</label>
                                        {{ form.part_one.price(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-form-label-sm">Year</label>
                                        {{ form.part_one.year(class="form-control") }}
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-form-label-sm">Color</label>
                                        {{ form.part_one.color(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-form-label-sm">Description</label>
                                        <textarea class="form-control" id="part_one-description" name="part_one-description" rows="3" value=""></textarea>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="form-group">
                                        <label class="col-form-label col-form-label-sm">Mileage</label>
                                        {{ form.part_one.mileage(class="form-control") }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {% for error_field, errors in form.part_one.errors.items() %}
                                <div class="invalid-feedback">
                                    {{ error_field }}: {{ errors|join(', ') }}
                                </div>
                                {%endfor%}
                            </div>

                        </fieldset>

                        <fieldset title="Car Images" class="step" id="default-step-1" >
                            <legend> </legend>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="input-group mb-3">
                                        <label class="col-form-label col-form-label-sm">Front Image</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <div class="custom-file">
                                                {{ form.part_two.front_image(class="custom-file-input") }}
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input-group mb-3">
                                        <label class="col-form-label col-form-label-sm">Back Image</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <div class="custom-file">
                                                {{ form.part_two.back_image(class="custom-file-input") }}
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="input-group mb-3">
                                        <label class="col-form-label col-form-label-sm">Left Image</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <div class="custom-file">
                                                {{ form.part_two.left_image(class="custom-file-input") }}
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input-group mb-3">
                                        <label class="col-form-label col-form-label-sm">Right Image</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <div class="custom-file">
                                                {{ form.part_two.right_image(class="custom-file-input") }}
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6">
                                    <div class="input-group mb-3">
                                        <label class="col-form-label col-form-label-sm">Dashboard Image</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <div class="custom-file">
                                                {{ form.part_two.dash_image(class="custom-file-input") }}
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-6">
                                    <div class="input-group mb-3">
                                        <label class="col-form-label col-form-label-sm">Interior Image</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"></span>
                                            </div>
                                            <div class="custom-file">
                                                {{ form.part_two.interior_image(class="custom-file-input") }}
                                                <label class="custom-file-label">Choose file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                {% for error_field, errors in form.part_two.errors.items() %}
                                <div class="invalid-feedback">
                                    {{ error_field }}: {{ errors|join(', ') }}
                                </div>
                                {%endfor%}
                            </div>
                        </fieldset>
                        <input type="submit" class="finish btn btn-danger" value="submit" name="submit-image_details" />
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        $('form').submit(function (e) {
            var url = "{{ url_for('admin.add_vehicle') }}"; // send the form data here.
            $.ajax({
                type: "POST",
                url: url,
                data: $('form').serialize(), // serializes the form's elements.
                success: function (data) {
                    console.log(data)  // display the returned data in the console.
                    window.location = "{{ url_for('admin.vehicles') }}"
                }
            });
            e.preventDefault(); // block the traditional submission of the form.
        });
        // Inject our CSRF token into our AJAX request.
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")
                }
            }
        })
    });
</script>
<script>
 var form = $("form");
 $(":submit",form).click(function(){
            if($(this).attr('name')) {
                $(form).append(
                    $("<input type='hidden'>").attr( {
                        name: $(this).attr('name'),
                        value: $(this).attr('value') })
                );
            }
        });

 $(form).submit(function(){
     console.log($(this).serializeArray());
 });
</script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/select2/js/select2.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='vendor/js-init/init-select2.js') }}"></script>
<!--jquery validate-->
<script src="{{ url_for('static', filename='vendor/jquery-validation/jquery.validate.min.js') }}"></script>

<!--jquery steps-->
<script src="{{ url_for('static', filename='vendor/jquery-steps/jquery.steps.min.js') }}"></script>
<!--init steps-->
<script src="{{ url_for('static', filename='vendor/js-init/init-form-wizard.js') }}"></script>

<!--jquery stepy-->
<script src="{{ url_for('static', filename='vendor/jquery-steps/jquery.stepy.js') }}"></script>
{% endblock %}
